native/target
ugout
ugout-*
native/ultragraph.darwin-arm64.node
native/out
src/.cache
src/out1
src/graph.json
.DS_Store
src/.DS_Store
src/out/.DS_Store
src/out
out
out/*
.gitnexus
node_modules
docs/overgraph
opencode.json
.env
.env.local
docs/neo4j-conn.txt
docs/model-conn.txt
