native/target
ugout
ugout-old
ugout-h
native/ultragraph.darwin-arm64.node
native/out
src/.cache
src/out1
src/graph.json
.DS_Store
src/.DS_Store
src/out/.DS_Store
src/out
out
out/*
.gitnexus
node_modules
docs/overgraph